/* BASICS */
html, body, .page, #react-root{
  width: 100%;
  height: 100%;
  position: relative;
}
body{
  background: url('http://wallpapercave.com/wp/5TSGE7C.jpg');
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  background-color: white;
  color: black;
}
ul{
  list-style-type: none;
}
*{
  padding: 0;
  margin: 0;
}
.terminal-home{
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 62px;
  color: #878787
}
.terminal-container .CodeMirror{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.exec-terminal, .code-editor button{
  border: 0;
  margin: 0;
  padding: 8px;
  background-color: #E64A19;
  color: white;
}
.terminal-container{
  max-height: 100%;
  overflow: scroll;
  padding: 20px;
  width: calc(100% - 40px);
  position: relative;
  background-color: #767676;
  box-shadow: 0 0 10px #565656;
  color: white;
}
.an-ls-word{
  margin-top: 5px;
  margin-right: 5px;
  color: #DCEDC8;
}
#js-target{
  overflow-y: scroll;
}
.component-as-button.a-component{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100%;
  padding: 0;
  background-color: #545454;
  box-shadow: 0 0 10px #686868;
  max-height: 100%;
}
.resize-component-as-button.react-draggable.react-draggable-dragged,
.resize-component-as-button.react-draggable.react-draggable-dragged > div{
  width: 60px !important;
  height: 60px  !important;
  overflow: hidden;
}
.component-as-button button{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  color: white;
}
.close:after{
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  background-color: #656565;
  color: #FF5722;
  content: 'X';
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.textarea{
  background-color: black;
}
.a-component{
  position: relative;
  height: 100%;
  width: 100%;
}
.resize{
  position: absolute;
  bottom: 0;
  right: 0;
  width:10px;
  height:10px;
  background-color: white;
}
.page{
  margin: 20px;
  width: calc(100% - 40px);
}
.component-container{
  position: absolute;
  pointer-events: none;
}
.react-draggable{
  pointer-events: auto;
}
.code-editor{
  padding: 20px;
  padding-right: 60px;
  width: calc(100% - 80px);
  height: 100%;
  background-color: #767676;
  box-shadow: 0 0 10px #565656;
  color: white;
}
.menu-icon{
  color: white;
  background-color: #039BE5;
  box-shadow: 0 0 5px black;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition: .5s ease-in-out;
  z-index: 10;
  opacity: 1;
}
.component-menu{
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 2;
}
.component-menu.fullscreen{
  top: 20px;
  right: 10px;
}
.menu-icon *{
  transition: .5s ease-in-out;
}
.hide{
  opacity: 0 !important;
  height: 0 !important;
  width: 0 !important;
  font-size: 0;
}
.terminal-title{
  padding: 10px;
  background-color: #26C6DA;
  width: auto;
  display: inline-block;
}
.page, .background{
  position: absolute;
}
.page{
  opacity: .9;
}
canvas{
  background-color: rgba(0, 0, 0, .6);
}
.tool-box-container{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}
.drawer-container{
  padding: 20px;
  padding-top: 60px;
  width: calc(40% - 40px);
  background-color: #545454;
  box-shadow: 0 0 20px #545454;
  height: 100%;
  position: relative;
  z-index: 2;
  color: white;
}
.drawer-container li{
  list-style: none;
}
.drawer-overlay{
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.open-toolbox-drawer{
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  outline: none;
  border: none;
  margin: 20px;
  box-shadow: 0 0 10px black;
  z-index: 10;
  background-color: #039BE5;
  color: white;
}
.a-tool:hover{
  background-color: #343434;
}
.a-tool{
  width: calc(100% - 40px);
  margin-bottom: 20px;
  background-color: #767676;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}
.tool-name{
  margin-right: 10px;
  color: #FF7043;
}
